@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu-Regular.ttf")  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url("../fonts/Ubuntu-Medium.ttf")  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'UbuntuBold';
    src: url("../fonts/Ubuntu-Bold.ttf")  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("../fonts/OpenSans-Bold.ttf")  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'RobotoBold';
    src: url("../fonts/Roboto-Bold.ttf")  format('truetype') /* Safari, Android, iOS */
}
html {
    body {
        font-family: "Ubuntu";
        font-size: 15px;
        color: black;
    
        h1, h2, h3, p {
            margin-bottom: 0;
        }
    
        p {
            b {
                font-family: 'Ubuntu-Bold';
            }
        }
    }
}