.btn, button {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.button {
    background-color: white;
    font-family: 'OpenSansBold';
    color: $dark-grey;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 33px;
    border-radius: 50px;
}


.button-red {
    background-color: $red;
    color: white;
    text-transform: uppercase;
    height: 55px;
    border-radius: $border-radius;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 16px;
    font-family: 'OpenSansBold';
    border: none;
}