
.owl-nav{
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 88px;
        width: 34px;
        background-color: rgba(white,0.8);
        margin: 0;
        border-radius: 0;
        
        span {
            color: $grey;
            font-size: 34px;
        }
    }

    .owl-prev {
        left: -44px;

    }
    .owl-next {
        right: -44px;
    }
}  
