body {

    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    a {
        color: black;
        &:hover {
            text-decoration: none;
            color: black;
        }
        i {
            color: $blue;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1170px;
        }
    }
}


