@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin ellipsis($font-size, $line-height, $line-clamp) {
    display: block;
    display: -webkit-box;
    height: $font-size * $line-height * $line-clamp;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }