$blue: #51c0da;
$red: #e20713;
$grey: #424242;
$green: #90c145;

$light-grey: #ececec;
$light-blue: #d3eff6;
$light-red: #f57083;

$dark-grey: #282828;
$dark-blue: #002936;

$border-radius: 8px;


$rainbow: #e20613, #f08019, #fdc624, #90c145, darken(#52c0da,18%), #4b57a3;
