@keyframes shine {
	100% {
		left: 125%;
	}
}
.four-boxes {
    margin: 30px 0 15px 0;
    .box {
        border: 1px solid $light-grey;
        padding: 15px;
        height: 157px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin-bottom:15px;

        &:before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            transform: skewX(-25deg);
        }
        &:hover {
            &:before {
                animation: shine 1.6s;
            }
            img {
                transform: scale(1.1);
            }
        }


        img {
            margin-bottom: 17px;
            transition: all 0.2s ease-in-out;

        }

        h3, span {
            font-size: 16px;
        }
        h3 {
            font-family: "UbuntuBold";
        }


    }
}