.gender-type {
    .outer-div {
        position: relative;
        height: 333px;
        overflow: hidden;
        margin-bottom: 30px;
        .layer
        {
             position: absolute;
             top: 50%;
             left: 44px;
             width: 100%;
             z-index: 1;
             h3 {
                 color: white;
                 font-size: 34px;
                 font-family: 'UbuntuBold';
                 margin-bottom: 40px;
                 text-transform: uppercase;
             }
        }        
        .inner-div,.inner-inner-div 
        {
             height: 100%;
             width: 100%;
             @include background-image;
             transition: all 0.6s ease-in-out;
        }   

        &:hover {
            .inner-div
            {
                transform: scale(1.2) rotate(-5deg);
             }       
        }     
    }
}