.newsletter {
    background-color: $blue;
    position: relative;
    
    .newsletter-left {
        position: absolute;
        left: 0;
        bottom: 0;

    }
    .container {
        position: relative;
        padding: 60px 0 102px;
        height: 356px;
        display: flex;
        @include flex-center;
        flex-direction: column;
        color: white;

        .bear {
            position: absolute;
            left: -174px;
            bottom: -89px; 
            z-index: 1;

        }
        
        .content {
            position: relative;
            z-index: 2;
            text-align: center;
            h5 {
                color: white;
                font-family: 'UbuntuBold';
                font-size: 24px;
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 50px
            }
    
            input {
                height: 55px;
                width: 382px;
            }
            button {
                margin-left: 8px;
            }
        }

    }
    .newsletter-right {
        position: absolute;
        right: 0;
        bottom: 0;      

    }
}


@media(max-width: 1023px) {
    .container {    
        .bear {
            display: none;
        }  
    }  
    
    .newsletter {
        .container {          
            .content {        
                input {
                    width: 200px;
                }   
            }
        }
    }
}