.products {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $light-blue;
    text-align: center;
    h3 {
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 30px;
        font-family: 'UbuntuBold';
        font-size: 26px;
    }
    .recommend {
        margin-bottom: 60px;
        h3 {
            color: $green;
            border-bottom: 1px solid $green;
        }
    }
    .bestseller {
        h3 {
            color: $blue;          
            border-bottom: 1px solid $blue;
     
        }
    }
    .item {
        background-color: white;
        border-radius: $border-radius;
        padding-top: 17px;
        padding-bottom: 17px;

        .badges {
            margin-bottom: 40px;
            .bagde {
                font-size: 13px;
                font-family: 'OpenSansBold';
    
            }
            .badge-left {
                border: 1px solid $light-grey;
                border-radius: 0;
                text-transform: uppercase;
                padding: 6px 7px;
            }
            .badge-right {
                background-color: $red;
                padding: 6px 9px;
                color: white;
    
            }
        }
        .photo {
            height: 207px;
            margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            @include flex-center;
        }
        .description {
            padding-left: 20px;
            padding-right: 20px;
            h2 {
                font-size: 15px;
                color: $dark-blue;
                @include ellipsis(1rem, 1.2, 2);
                margin-bottom: 20px;

            }
            .current-price {
                font-size: 20px;
                color: $red;
                display: block;
            }
            .old-price {
                font-size: 14px;
                text-decoration: line-through;
            }
        }
        
        .icons {
            margin-bottom: 20px;
            .icon {
                border-radius: $border-radius;
                background-color: $grey;
                padding: 5px;
                margin: 0 3px;
                position: relative;
                top: 150px;
                opacity: 0;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
                transition-delay: 0.2s;
                img {
                    vertical-align: sub;
                    display: inline;
                    width: auto;
                }
            }
            a {
                &:first-child {
                    background-color: $light-red;
                    text-transform: uppercase;
                    color: white;
                    font-size: 13px;
                    font-family: 'RobotoBold';
                    transition-delay: 0.1s;
                    img {
                        margin-right: 3px;
                    }
                }
                &:nth-child(2){
                    transition-delay: 0.15s;
                        img {
                            vertical-align: baseline;
                        }
                    }
                &:last-child{
                    transition-delay: 0.2s;
                    }                    
                }
            }

        &:hover {
            .icon {
                top: 0;
                opacity: 1;
            }
        }

    }
}