.slider {
    .carousel-wrapper {
        padding: 0;
    }
    .owl-carousel{
        margin-bottom: 30px;
        .item {
            height: 450px;
            @include background-image;
            padding: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
        }
        .owl-dots {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
            .owl-dot {
                span {
                    background: transparent;
                    border: 2px solid white;
                    width: 10px;
                    height: 10px;
                    margin: 5px 7px;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity 200ms ease;
                    border-radius: 30px;
                }
                &.active {
                    span {
                        background: $blue;
                        border: 2px solid $blue;
                    }    
                }                
            }        
        }
        .owl-nav{
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 88px;
                width: 34px;
                background-color: rgba(white,0.8);
                color: $grey;
                font-size: 34px;
                margin: 0;
                border-radius: 0;
            }
            .owl-prev {
                left: 0;

            }
            .owl-next {
                right: 0;
            }
        }         
    }
}
