.top-bar {
    font-size: 12px;
    border-bottom: 1px solid $light-grey;
    .container {
        border-right: 1px solid $light-grey;
    }
    a {
        display: inline-block;
        padding-top:11px;
        padding-bottom: 11px;
    }
    .svg {
        width: 18px;
        height: 14px;

        margin-right: 4px;
        vertical-align: sub;
        * {
            fill: $blue;
        }        
    }
    .mail {
        padding-left: 7px;
        margin-right: 18px;
    }
    .phone {
        .svg {
            transform: rotate(90deg);
        }
    }


    .dropdown-toggle {
        padding-left: 16px;
        padding-right: 16px;
        border-left: 1px solid $light-grey;
        &:after {
            border: none;
            vertical-align: baseline;
            background-image: url(../img/common/chevron-down-solid.svg);
            height: 7px;
            width: 9px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 11px;
        }
    }
}

@media(max-width: 767px) {
    
    element.style {
        }
        .top-bar .dropdown-toggle {
            border-left: 1px solid white;
        }
}