footer {
    padding: 60px 0 30px 0;
    h5 {
        font-size: 20px;
        color: $dark-blue;
        font-family: 'UbuntuBold';
        margin-bottom: 30px;
    }
    li {
        padding-bottom: 15px;
    }
    div {
        margin-bottom: 30px;
    }

}

