.navigation {
    background-color: $blue;
    nav {
        color: white;
        font-size: 16px;
        font-family: 'UbuntuMedium';
        text-transform: capitalize;
        padding: 0;

        li {
            text-align: center;
            .nav-link {
                padding: 13px 1rem;
                color: white;
            }
            &:first-child {
                border-left: 1px solid white;
                border-right: 1px solid white;           
            }            
        }


        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
        .dropdown-menu {
            margin: 0;
            width: 100%;
            border: 1px solid $light-blue;
            border-radius: 0;
            font-size: 15px;
            padding: 0;
            a {
                border-bottom: 1px solid $light-grey;
                padding: 20.6px 40px;
                &:focus {
                    background: none;
                    color: black;
                }

            }
            a {
                &:last-child {
                    border: none;

                }
            }

        }
    }
}
@media(min-width: 992px){
    .navigation .dropdown-menu {
        display: block;
    }       
    .navbar-nav {
        @for $i from 1 through length($rainbow) {
            .nav-item {
                &:hover {
                    &:nth-child(#{length($rainbow)}n+#{$i}) {
                        background: nth($rainbow, $i);
                    }
                }

            }               
        }            
    }

}