.submenu {
    padding-top: 22px;
    .logo {
        padding-left: 36px;
        padding-right: 36px;
        margin-bottom: 22px;
    }
    .form-inline {
        margin-right: 23px;
        margin-bottom: 23px; 
        input {
            font-size: 14px;
            border-color: $light-grey;
            border-radius: $border-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            padding-left: 20px;
            padding-right: 0;
            height: 45px;
            width: calc(100% - 56px);     
            
        }
        button {
            border: 1px solid $light-grey;
            border-left: none;
            border-radius: $border-radius;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 45px;        
            padding-right: 20px;
            padding-left: 20px;   
            .svg {
                height: 14px;
                width: 14px;
                vertical-align: middle;

            }
        }

    }
    .basket {
        height: 45px;
        border: 1px solid $light-blue;
        border-radius: $border-radius;
        padding-left: 64px;
        padding-right: 17px;
        display: flex;
        align-items: center;
        margin-bottom: 23px; 
        cursor: pointer;
        .price {
            color: $red;
            font-family: 'UbuntuMedium';
            margin-right: 22px;
        }
        .badge {
            background-color: $blue;
            border-radius: 50%;
            color: white;
            font-size: 12px;
            font-family: 'UbuntuMedium';
            padding: 3px 6px;
            font-weight: 500;
            margin-left: -8px;
        }        
    }

}